@font-face {
  font-family: 'Platform Web';
  src: url('fonts/Platform-Medium-Web.eot');
  src: url('fonts/Platform-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/Platform-Medium-Web.woff2') format('woff2'),
       url('fonts/Platform-Medium-Web.woff') format('woff');
 }

body {
  -moz-font-feature-settings: "liga", "kern";
  -moz-font-feature-settings:"liga=1, kern=1";
  -ms-font-feature-settings:"liga", "kern";
  -o-font-feature-settings:"liga", "kern";
  -webkit-font-feature-settings:"liga", "kern";
  font-feature-settings: "liga", "kern";
  background-color: rgb(36,41,48);
  font-weight: 300;
}

#container {
  margin: 4em 5em;
  max-width: 800px;
}

h1 {
  color: rgb(255,0,0);
  font-family: 'Platform Web';
  font-size: 40px;
}

h2 {
  color: rgb(255,255,255);
  font-family: 'Platform Web';
  font-size: 80px;
  font-weight: 300;
  line-height: 1.25;
  margin: .5em auto;
}

#info-email {
  color: rgb(255,0,0);
  font-family: 'Platform Web';
  text-decoration: none;
}

#notification-form p {
  color: rgb(255,255,255);
  font-family: 'Platform Web';
  font-size: 40px;
  margin: .5em auto; 
}

input {
  font-family: 'Platform Web';
  background-color: rgb(36,41,48);
  border: 1px solid rgb(115,117,122);
  color: rgb(255,255,255);
  font-size: 40px;
  padding: 20px;
  width: 70%;
}

input:-webkit-autofill {
  color: transparent;
}

button {
  background-color: rgb(36,41,48);
  color: rgb(255,0,0);
  font-family: 'Platform Web';
  border: 1px solid rgb(115,117,122);
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 60px;
  margin: 0px 10px;
  height: 82px;
  vertical-align: top;
}

button:hover {
  background-color: rgba(255,0,0,.4);
  border: 1px solid rgb(255,0,0);
}

#success-msg {
  color: rgb(255,255,255);
  font-family: 'Platform Web';
}

/* Tablet */ 

@media only screen and (min-width : 721px) and (max-width : 1020px) {
  input {
    width: 50%;
  }
}

/* Mobile */

@media only screen and (max-width : 720px) {
  #container {
    margin: 1em;
  }

  h1 {
    margin: 1em 0;
    font-size: 30px;
  }

  h2 {
    margin: 1em 0;
    font-size: 40px;
  }

  #notification-form p {
    font-size: 30px;
  }

  input {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 60px;
    font-size: 30px; 
    padding: 0px;
  }

  button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgb(255,0,0);
    height: 60px;
  }

}